In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\shita\anaconda3\lib\site-packages (8.2.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\shita\anaconda3\lib\site-packages (from mysql-connector-python) (4.21.12)

In [2]:
import numpy as np
import pandas as pd
import mysql.connector

In [3]:
import pandas as pd

# Read data from CSV

test_data=pd.read_csv(r"C:\Users\shita\OneDrive\Desktop\test.csv")
train_data=pd.read_csv(r"C:\Users\shita\OneDrive\Desktop\Train.csv")
store_data=pd.read_csv(r"C:\Users\shita\OneDrive\Desktop\Store.csv")
sample_data=pd.read_csv(r"C:\Users\shita\OneDrive\Desktop\Sample_Submission.csv")


common_key = 'Store'


# Merge DataFrames
#merged_data = pd.merge(test_data,train_data,store_data,sample_data, on='common_key')

train_merged_data = pd.merge(train_data, store_data, on=common_key, how='left')
train_merged_data

# Save merged data to a new CSV file

train_merged_data.to_csv('train_merged_data.csv', index=False)

C:\Users\shita\AppData\Local\Temp\ipykernel_11136\2121467166.py:6: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  train_data=pd.read_csv(r"C:\Users\shita\OneDrive\Desktop\Train.csv")

In [4]:
data = pd.read_csv(r"C:\Users\shita\Downloads\train_merged_data.csv")
data.head()

C:\Users\shita\AppData\Local\Temp\ipykernel_11136\2676282108.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(r"C:\Users\shita\Downloads\train_merged_data.csv")

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,5,31-07-2015,5263,555,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,5,31-07-2015,6064,625,1,1,0,1,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,5,31-07-2015,8314,821,1,1,0,1,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,5,31-07-2015,13995,1498,1,1,0,1,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,5,31-07-2015,4822,559,1,1,0,1,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

# Establish a connection

In [5]:

pip install pyodbc

Requirement already satisfied: pyodbc in c:\users\shita\anaconda3\lib\site-packages (4.0.34)
Note: you may need to restart the kernel to use updated packages.

In [6]:
import mysql.connector
# Creating connection object
mydb = mysql.connector.connect(
host = "localhost",
user = "root",
password = "12345678"
)
# Printing the connection object
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000216DBAFFE50>

In [2]:
import pyodbc

conn = pyodbc.connect(
    "Driver={SQL Server};"
    "Server=Shital;"
    "Database=ROSSMAN_SALES_PREDICTION;"
    "Trusted_Connection=yes;"
)

In [9]:
data.columns

Index(['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday', 'StoreType', 'Assortment',
       'CompetitionDistance', 'CompetitionOpenSinceMonth',
       'CompetitionOpenSinceYear', 'Promo2', 'Promo2SinceWeek',
       'Promo2SinceYear', 'PromoInterval'],
      dtype='object')

In [8]:
len(data.columns)

18

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 18 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   Store                      1017209 non-null  int64
 1   DayOfWeek                  1017209 non-null  int64
 2   Date                       1017209 non-null  object
 3   Sales                      1017209 non-null  int64
 4   Customers                  1017209 non-null  int64
 5   Open                       1017209 non-null  int64
 6   Promo                      1017209 non-null  int64
 7   StateHoliday               1017209 non-null  object
 8   SchoolHoliday              1017209 non-null  int64
 9   StoreType                  1017209 non-null  object
 10  Assortment                 1017209 non-null  object
 11  CompetitionDistance        1014567 non-null  float64
 12  CompetitionOpenSinceMonth  693861 non-null   float64
 13  CompetitionOpenSinceYear   693861 non-null   float64
 14  Promo2                     1017209 non-null  int64
 15  Promo2SinceWeek            509178 non-null   float64
 16  Promo2SinceYear            509178 non-null   float64
 17  PromoInterval              509178 non-null   object
dtypes: float64(5), int64(8), object(5)
memory usage: 139.7+ MB

In [11]:
data.columns
for i in data.columns:
    print(f"data[{i}]")

data[Store]
data[DayOfWeek]
data[Date]
data[Sales]
data[Customers]
data[Open]
data[Promo]
data[StateHoliday]
data[SchoolHoliday]
data[StoreType]
data[Assortment]
data[CompetitionDistance]
data[CompetitionOpenSinceMonth]
data[CompetitionOpenSinceYear]
data[Promo2]
data[Promo2SinceWeek]
data[Promo2SinceYear]
data[PromoInterval]

In [12]:
data.dropna(inplace = True)
data.shape

(324326, 18)

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 324326 entries, 1 to 1017204
Data columns (total 18 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Store                      324326 non-null  int64
 1   DayOfWeek                  324326 non-null  int64
 2   Date                       324326 non-null  object
 3   Sales                      324326 non-null  int64
 4   Customers                  324326 non-null  int64
 5   Open                       324326 non-null  int64
 6   Promo                      324326 non-null  int64
 7   StateHoliday               324326 non-null  object
 8   SchoolHoliday              324326 non-null  int64
 9   StoreType                  324326 non-null  object
 10  Assortment                 324326 non-null  object
 11  CompetitionDistance        324326 non-null  float64
 12  CompetitionOpenSinceMonth  324326 non-null  float64
 13  CompetitionOpenSinceYear   324326 non-null  float64
 14  Promo2                     324326 non-null  int64
 15  Promo2SinceWeek            324326 non-null  float64
 16  Promo2SinceYear            324326 non-null  float64
 17  PromoInterval              324326 non-null  object
dtypes: float64(5), int64(8), object(5)
memory usage: 47.0+ MB

In [ ]:
import pyodbc

conn = pyodbc.connect(
    "Driver={SQL Server};"
    "Server=Shital;"
    "Database=ROSSMAN_SALES_PREDICTION;"
    "Trusted_Connection=yes;"
)

# Create a cursor
cursor = conn.cursor()

# Iterate through each row and insert data into the database
for row in data.itertuples(index=False):
    a = row.Store
    b = row.DayOfWeek
    c = row.Date
    d = row.Sales
    e = row.Customers
    f = row[6]  # Use the index of the 'Open' column
    g = row.Promo
    h = row.StateHoliday
    i = row.SchoolHoliday
    j = row.StoreType
    k = row.Assortment
    l = row.CompetitionDistance
    m = row.CompetitionOpenSinceMonth
    n = row.CompetitionOpenSinceYear
    o = row.Promo2
    p = row.Promo2SinceWeek
    q = row.Promo2SinceYear
    r = row.PromoInterval
    
    # Define your SQL query
    sql = """
        INSERT INTO sales (
            Store, DayOfWeek, Date, Sales, Customers,
            [Open], Promo, StateHoliday, SchoolHoliday, StoreType,
            Assortment, CompetitionDistance, CompetitionOpenSinceMonth,
            CompetitionOpenSinceYear, Promo2, Promo2SinceWeek,
            Promo2SinceYear, PromoInterval
        )
        VALUES
        (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
    """
    
    # Execute the SQL query with parameters
    cursor.execute(sql, (a, b, c, d, e, f, g, h, i, j, k, l, m, n, o, p, q, r))
    conn.commit()

# Close the cursor and connection
cursor.close()
conn.close()